

/* Small to Medium Screen */
@media (max-width: 991px) 
{
 

    /* Display Temp */
    .display-temp .city-temp {display: block !important;}

    .display-temp #search-bar {margin-bottom: 10px !important;}

    .display-temp .search,
    .display-temp .temp-card {
        width: 100%;
        margin: 20px 0 !important;}
    

    
}
@media all and  (max-width:575px) {
    .display-temp  {
        height: 200vh!important;
    }   


}

@media all and  (min-width:576px) and (max-width:768px) {
    .display-temp {
        height: 200vh!important;
    }   

}


@media all and  (min-width:769px) and (max-width:991px) { 
    .display-temp {
        height: 200vh!important;
    }   
}


@media all and  (min-width:992px) and (max-width:1199px) { 

}






